<!-- 
<h1 style="text-align:center;">Listing Employees</h1>
<div >
 <%#= form_tag list_user_list_path, :method => 'get' do %>
    <div class="form-group row left-padding col-md-12">
      <div class="col-md-10">
       <%#= text_field_tag :search, params[:search], placeholder: "Search User", autofocus: true ,class: "form-control search-box input-lg" %>
      </div>
      <div class="col-md-2">
      <%#= button_tag(type: :submit, class: "btn btn-primary btn-success") do %>
          <i class="fa fa-search"></i> Search User
        <%# end %>
      </div>
    </div>
<%# end %>
</div>
 -->
<!-- <table class="table table-sm table-hover table-striped "> -->
<!--   <%# if current_user.staff? %>
    <li><%#= link_to 'Impersonate', '/impersonate' %></li>
  <%# end %> -->
<table id="example" class="display">
  <thead>
    <tr>
        <th colspan="3" class="page-header">
          <h2>Employees</h2>
        </th>
      </tr>
    <tr>
      <th >UserName</th>
      <th >Points</th>
      <th >DOJ</th>
      <th> Edit</th>
      <th> Delete</th>

      
    </tr>
  </thead>

  <tbody id="list">
    <% @users.each do |user| %>
      <tr>
        <td ><%= user.email %></td>
        <td ><%= user.points %></td>
        <td ><%= user.doj %></td>


        <td class = "col-md-1"><%= link_to 'update', user_assign_points_path(user.id), class: "btn btn-xs" %></td>

        <td class="col-md-1"><%= link_to 'Delete', user_delete_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger"  %></td>
        <td><%=link_to "Impersonate", impersonate_path(user_id: user.id)%></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
            <tr>
                <th >UserName</th>
                <th >Points</th>
                <th >DOJ</th>
            </tr>
        </tfoot>
</table>
<%#= will_paginate @users %><br>
</div>
<div class="col-md-2">
<%= link_to 'Admin Homepage', dashboard_admin_dashboard_path, class: "btn btn-xs btn-success" %>
</div>
<div class="col-md-2">
<%= link_to 'create/add user ' , new_user_registration_path , class: "btn btn-xs btn-success" %>
</div>
<div class="col-md-2">
<%= link_to 'Download Users', list_user_list_path(format: "csv"), class: "btn btn-default" %>
</div>
<br>

<h2>Import Users</h2>

<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>